body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: pink;
    padding: 80px;
}
.container{
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px;
}

button{
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 18px;
}