*{
    margin: 0;;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #4facfe, #00f2fe);

}
.container{
    background: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
     box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
#counter{
    font-size: 4rem;
    margin-bottom: 20px;
    color: #333;
}
.btn button{
    padding: 10px 20px;
    margin: 5px;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
   
   
}

#increase{
    background: #4caf50;
  color: white;
}

#decrease {
  background: #f44336;
  color: white;
}
#reset {
  background: #2196f3;
  color: white;
}

.btn button:hover{
    opacity: 0.8;
    transform: scale(1.05);
}